<!--    <mat-form-field>-->
<!--        <mat-label>Filter</mat-label>-->
<!--        <input matInput placeholder="Ex. ium" #input>-->
<!--    </mat-form-field>-->
<div>
  <app-client-create-button class="btn" (tableUpdated)="updateTable($event)"></app-client-create-button>
  <app-client-table></app-client-table>
</div>

