<div class="table">
  <mat-paginator [pageSizeOptions]="paginatorOptions" showFirstLastButtons></mat-paginator>
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let car">{{car.id}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef>Color</th>
      <td mat-cell *matCellDef="let car">{{car.color}} </td>
    </ng-container>

    <ng-container matColumnDef="engineCapacity">
      <th mat-header-cell *matHeaderCellDef>Engine capacity</th>
      <td mat-cell *matCellDef="let car">{{car.engineCapacity}} </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let car">{{car.weight}}</td>
    </ng-container>

    <ng-container matColumnDef="yearOfManufacture">
      <th mat-header-cell *matHeaderCellDef>Year of Manufacture</th>
      <td mat-cell *matCellDef="let car">{{car.yearOfManufacture}}</td>
    </ng-container>

    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="info-column" mat-cell *matCellDef="let car">
        <app-car-info-button [id]="car.id"></app-car-info-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="info-column" mat-cell *matCellDef="let car">
        <app-car-delete-button (itemDeleted)="deleteCar($event)" [id]="car.id"></app-car-delete-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
