<h1>Id: {{ car.id }}</h1>
<h2>Color: {{ car.color }}</h2>
<h2>Engine capacity: {{ car.engineCapacity }}</h2>
<h2>Weight: {{ car.weight }}</h2>
<h2>Year Of Manufacture: {{ car.yearOfManufacture }}</h2>
<h2>Created at: {{ car.createdAt }}</h2>
<h2>Updated at: {{ car.updatedAt }}</h2>
