<h1>Id: {{ client.id }}</h1>
<h2>First name: {{ client.firstName }}</h2>
<h2>Last name: {{ client.lastName }}</h2>
<h2>Birth date: {{ client.birthDate }}</h2>
<h2>Email: {{ client.email }}</h2>
<h2>Created at: {{ client.createdAt }}</h2>
<h2>Updated at: {{ client.updatedAt }}</h2>
<h2>Car ids: {{ client.cars }}</h2>
<h2>Contracts ids: {{ client.insuranceContracts }}</h2>

