<div class="table">
  <mat-paginator [pageSizeOptions]="paginatorOptions" showFirstLastButtons></mat-paginator>
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let contract">{{contract.id}} </td>
    </ng-container>

    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>Client id</th>
      <td mat-cell *matCellDef="let contract">{{contract.clientId}} </td>
    </ng-container>

    <ng-container matColumnDef="carId">
      <th mat-header-cell *matHeaderCellDef>Car Id</th>
      <td mat-cell *matCellDef="let contract">{{contract.carId}} </td>
    </ng-container>

    <ng-container matColumnDef="complexIds">
      <th mat-header-cell *matHeaderCellDef>Complex Ids</th>
      <td mat-cell *matCellDef="let contract">{{contract.complexIds}}</td>
    </ng-container>

<!--    <ng-container matColumnDef="info">-->
<!--      <th mat-header-cell *matHeaderCellDef></th>-->
<!--      <td class="info-column" mat-cell *matCellDef="let contract">-->
<!--        <app-client-info-button [id]="contract.id"></app-client-info-button>-->
<!--      </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
