<div>
  <h1>Create contract</h1>
  <form [formGroup]="contractCreateFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Client</mat-label>
      <mat-select formControlName="clientId">
        <mat-option *ngFor="let clientLookup of clientLookups" [value]="clientLookup.id">
          {{clientLookup.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Car</mat-label>
      <mat-select formControlName="carId">
        <mat-option *ngFor="let carLookup of carLookups" [value]="carLookup.id">
          {{carLookup.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Complexes</mat-label>
      <mat-select [formControl]="complexesIds" multiple>
        <mat-option *ngFor="let complexLookup of complexesLookups"
                    [value]="complexLookup.id">{{complexLookup.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button [disabled]="!contractCreateFormGroup.valid" mat-stroked-button (click)="submitForm()">Create
  </button>
</div>
