<mat-sidenav-container class="sidenav-container">
  <ul>
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span class="material-icons">house</span></a></li>
    <li><a routerLink="/clients" routerLinkActive="active">clients <span class="material-icons">accessibility</span></a></li>
    <li><a routerLink="/cars" routerLinkActive="active">cars <span class="material-icons">directions_car</span></a></li>
    <li><a routerLink="/insurance-contracts" routerLinkActive="active">contracts <span class="material-icons">list_alt</span></a></li>
    <li><a routerLink="/insurance-complexes" routerLinkActive="active">complexes <span class="material-icons">card_travel</span></a></li>
  </ul>
</mat-sidenav-container>


