.sidenav-container {
  background: #26a69a; //#414141
  font-size: 18px;
}

ul {
  float: right;
  list-style-type: none;
  margin-right: 40px;
}

li {
  font-size: 25px;
  display: inline;
  margin-right: 30px;
}

a {
  color: #272727;
  text-decoration: none;
}

.active {
  text-decoration: black solid underline;
}
