<div>
  <h1>Create Client</h1>
  <form [formGroup]="clientCreateFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-error *ngIf="email.hasError('email')">
      Enter a valid email
    </mat-error>
    <mat-error *ngIf="email.hasError('notUnique')">
      Enter a unique email
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="password.hasError('minlength')">
      Password must be longer then {{ minPasswordLength }}
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="birthDate.hasError('past')">
      Date must be in the past
    </mat-error>
  </form>
  <button [disabled]="!clientCreateFormGroup.valid" mat-stroked-button (click)="submitForm()">Create
  </button>
</div>
