<div>
  <h1>Update Client</h1>
  <form [formGroup]="clientEditFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="birthDate.hasError('past')">
      Date must be in the past
    </mat-error>
  </form>
  <button [disabled]="!clientEditFormGroup.valid" mat-stroked-button (click)="submitForm()" mat-dialog-close>Update
  </button>
</div>
