<div>
  <h1>Create car</h1>
  <form [formGroup]="carCreateFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Client</mat-label>
      <mat-select  formControlName="clientId">
        <mat-option *ngFor="let clientLookup of clientLookups" [value]="clientLookup.id">
          {{clientLookup.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight">
    </mat-form-field>
    <mat-error *ngIf="weight.hasError('min')">
      Weight capacity must positive number
    </mat-error>
    <mat-error *ngIf="weight.hasError('digit')">
      Weight must be a digit
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Engine capacity</mat-label>
      <input matInput formControlName="engineCapacity">
    </mat-form-field>
    <mat-error *ngIf="engineCapacity.hasError('min')">
      Engine capacity must positive number
    </mat-error>
    <mat-error *ngIf="engineCapacity.hasError('digit')">
      Engine capacity must be a digit
    </mat-error>
    <mat-form-field appearance="fill">
      <mat-label>Year of manufacture</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="yearOfManufacture">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="yearOfManufacture.hasError('past')">
      Date must be in the past
    </mat-error>
  </form>
  <button [disabled]="!carCreateFormGroup.valid" mat-stroked-button (click)="submitForm()">Create
  </button>
</div>
