<div class="table">
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let complex">{{complex.id}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td mat-cell *matCellDef="let complex">{{complex.duration}} </td>
    </ng-container>

    <ng-container matColumnDef="compensationPercent">
      <th mat-header-cell *matHeaderCellDef>Compensation Percent</th>
      <td mat-cell *matCellDef="let complex">{{complex.compensationPercent}} </td>
    </ng-container>

    <ng-container matColumnDef="damageLevel">
      <th mat-header-cell *matHeaderCellDef>Damage Level</th>
      <td mat-cell *matCellDef="let complex">{{complex.damageLevel}}</td>
    </ng-container>

    <ng-container matColumnDef="coveredPart">
      <th mat-header-cell *matHeaderCellDef>Covered Part</th>
      <td mat-cell *matCellDef="let complex">{{complex.coveredPart}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
